/*******   BASIC CONFIG   *******/
:root{
  /* colors */
  --thisoe:#178577;
  --thisoe-faint:#17857730;
  --thisoe-faint-solid:#DAE8E5;
  --background:#fefefe;
  --foreground:#171717;
}

/* resets */
i,button,a,p{all:unset}
i,main,header,nav,aside,label{display:flex}
main,aside,nav,nav i,#home,#guestpage,#setting,#proform,.amsg>.p{flex-direction:column}
img{user-select:none;-webkit-user-drag:none}
button,a{transition:.2s ease;cursor:pointer}
button.disabled,a.disabled{background:#ccc !important;border-color:transparent !important;cursor:default}
button:hover:not(.disabled),a:hover:not(.disabled):not(#s-ava):not(#s-txt){
  transform:scale(1.03)
}button:active:not(.disabled),a:active:not(.disabled):not(#s-ava):not(#s-txt){
  transform:scale(.98)
}

/* selection and scrollbar */
*::selection{
  background:var(--thisoe);
  color:#cef;
  text-shadow: 1px 1px #335;
}
::-webkit-scrollbar{width:8pt}
::-webkit-scrollbar-track{background-color:#e0efea}
::-webkit-scrollbar-thumb{
  background-color:var(--thisoe);
  border-radius:9pt;
  transition:background-color .2s ease;
}
::-webkit-scrollbar-thumb:hover{background-color:#399}

/* layout */
html,body{
  margin:0;padding:0;
  height:100vh;height:100dvh;
}
footer{ z-index:9;
  position:fixed; bottom:0;left:0;
  display:flex;flex-direction:row;
  width:100%;
  margin:0;
  padding:7pt 0;
  background-color:#333;
  justify-content:center;
  text-align:center;
  color:#ccc;
  font-family:serif;
  font-size:11pt;
  line-height:16pt;
}
footer p{margin:7pt auto;}
footer a{
  cursor: pointer;
}footer a:hover{
  color:aquamarine;
  text-decoration:underline;
}

/* loading */
#loading{
  width:100vw;height:99vh;
  width:100dvw;height:99dvh;
  display:flex;
  background:#fff;
  position:absolute;
  left:0;top:0;
}#loading i{
  margin:auto;
  font-size:16pt;
  font-weight:bold;
}

/* header compo */
header{z-index:3;
  position:sticky;top:0;
  justify-content:space-between; align-items:center;
  margin:0;
  padding:7px 9pt;
  border-bottom:var(--thisoe) solid 3px;
  background:#fffe;
}
header>a,header>form{display:flex}
header .svg,header>i{width:30px;height:30px}

h2{
  margin:auto 0;
  font-size:18pt; line-height:30pt;
  font-family:"Roboto",sans-serif; font-weight:900;
  white-space:nowrap;
  user-select:none;
}

/* svg */
.svg{
  display:inline-block;
  background-repeat:no-repeat;
  background-size:100% 100%;
}
/* by MingCute (github.com/Richard9394/MingCute) */
.svg.Google{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23fff' d='M44.59 4.21a63.28 63.28 0 0 0 4.33 120.9a67.6 67.6 0 0 0 32.36.35a57.13 57.13 0 0 0 25.9-13.46a57.44 57.44 0 0 0 16-26.26a74.3 74.3 0 0 0 1.61-33.58H65.27v24.69h34.47a29.72 29.72 0 0 1-12.66 19.52a36.2 36.2 0 0 1-13.93 5.5a41.3 41.3 0 0 1-15.1 0A37.2 37.2 0 0 1 44 95.74a39.3 39.3 0 0 1-14.5-19.42a38.3 38.3 0 0 1 0-24.63a39.25 39.25 0 0 1 9.18-14.91A37.17 37.17 0 0 1 76.13 27a34.3 34.3 0 0 1 13.64 8q5.83-5.8 11.64-11.63c2-2.09 4.18-4.08 6.15-6.22A61.2 61.2 0 0 0 87.2 4.59a64 64 0 0 0-42.61-.38'/%3E%3Cpath fill='%23e33629' d='M44.59 4.21a64 64 0 0 1 42.61.37a61.2 61.2 0 0 1 20.35 12.62c-2 2.14-4.11 4.14-6.15 6.22Q95.58 29.23 89.77 35a34.3 34.3 0 0 0-13.64-8a37.17 37.17 0 0 0-37.46 9.74a39.25 39.25 0 0 0-9.18 14.91L8.76 35.6A63.53 63.53 0 0 1 44.59 4.21'/%3E%3Cpath fill='%23f8bd00' d='M3.26 51.5a63 63 0 0 1 5.5-15.9l20.73 16.09a38.3 38.3 0 0 0 0 24.63q-10.36 8-20.73 16.08a63.33 63.33 0 0 1-5.5-40.9'/%3E%3Cpath fill='%23587dbd' d='M65.27 52.15h59.52a74.3 74.3 0 0 1-1.61 33.58a57.44 57.44 0 0 1-16 26.26c-6.69-5.22-13.41-10.4-20.1-15.62a29.72 29.72 0 0 0 12.66-19.54H65.27c-.01-8.22 0-16.45 0-24.68'/%3E%3Cpath fill='%23319f43' d='M8.75 92.4q10.37-8 20.73-16.08A39.3 39.3 0 0 0 44 95.74a37.2 37.2 0 0 0 14.08 6.08a41.3 41.3 0 0 0 15.1 0a36.2 36.2 0 0 0 13.93-5.5c6.69 5.22 13.41 10.4 20.1 15.62a57.13 57.13 0 0 1-25.9 13.47a67.6 67.6 0 0 1-32.36-.35a63 63 0 0 1-23-11.59A63.7 63.7 0 0 1 8.75 92.4'/%3E%3C/svg%3E")}
.svg.menu{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23178577' d='M7 13a2 2 0 0 1 1.995 1.85L9 15v3a2 2 0 0 1-1.85 1.995L7 20H4a2 2 0 0 1-1.995-1.85L2 18v-3a2 2 0 0 1 1.85-1.995L4 13zm9 4a1 1 0 0 1 .117 1.993L16 19h-4a1 1 0 0 1-.117-1.993L12 17zm4-4a1 1 0 1 1 0 2h-8a1 1 0 1 1 0-2zM7 3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm9 4a1 1 0 0 1 .117 1.993L16 9h-4a1 1 0 0 1-.117-1.993L12 7zm4-4a1 1 0 0 1 .117 1.993L20 5h-8a1 1 0 0 1-.117-1.993L12 3z'/%3E%3C/g%3E%3C/svg%3E")}
.svg.signout{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='tomato' d='M12 2.5a1.5 1.5 0 0 1 0 3H7a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h4.5a1.5 1.5 0 0 1 0 3H7A3.5 3.5 0 0 1 3.5 18V6A3.5 3.5 0 0 1 7 2.5Zm6.06 5.61l2.829 2.83a1.5 1.5 0 0 1 0 2.12l-2.828 2.83a1.5 1.5 0 1 1-2.122-2.122l.268-.268H12a1.5 1.5 0 0 1 0-3h4.207l-.268-.268a1.5 1.5 0 1 1 2.122-2.121Z'/%3E%3C/g%3E%3C/svg%3E")}
.svg.back{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23178577' d='M7.94 13.06a1.5 1.5 0 0 1 0-2.12l5.656-5.658a1.5 1.5 0 1 1 2.121 2.122L11.122 12l4.596 4.596a1.5 1.5 0 1 1-2.12 2.122l-5.66-5.658Z'/%3E%3C/g%3E%3C/svg%3E")}

.chat-bg{
  background-repeat:space;
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%2317857723' d='M16 4a3 3 0 0 1 2.995 2.824L19 7v2a3 3 0 0 1 2.995 2.824L22 12v4a3 3 0 0 1-2.824 2.995L19 19v.966c0 1.02-1.143 1.594-1.954 1.033l-.096-.072L14.638 19H11a3 3 0 0 1-1.998-.762l-.14-.134L7 19.5c-.791.593-1.906.075-1.994-.879L5 18.5V17a3 3 0 0 1-2.995-2.824L2 14V7a3 3 0 0 1 2.824-2.995L5 4zm3 7h-8a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h3.638a2 2 0 0 1 1.28.464l1.088.906A1.5 1.5 0 0 1 18.5 17h.5a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1m-3-5H5a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h.5A1.5 1.5 0 0 1 7 16.5v.5l1.01-.757A3 3 0 0 1 8 16v-4a3 3 0 0 1 3-3h6V7a1 1 0 0 0-1-1'/%3E%3C/g%3E%3C/svg%3E")
}

/* img */
.ava{border-radius:999pt}


/*******   GUEST PAGE   *******/
#guestpage{
  height:calc(100vh - 80px);
  overflow-x:hidden;
  user-select:none;
}
h1{
  margin:calc(27vh - 16pt) auto 9vh;
  font-size:50pt; line-height:1;
  font-weight:900;
  white-space:nowrap;
  font-family:"Roboto",sans-serif;
}
form.guest{margin:0 auto;}
form.guest button{
  display:flex; gap:3pt;
  padding:9pt 39pt;
  border:var(--thisoe) solid 3pt;
  border-radius:99pt;
  font-size:16pt; line-height:1;
  background:#fff;
}
form.guest .svg{margin:auto 0;width:1em;height:1em}



/*******   HOME ( `/chat` )   *******/
#home{height:99vh}
#home .chat-bg{flex:1;padding:18pt 0 81pt;}

/* UserList */
nav{
  width:calc(100% - 6pt); max-width:500pt;
  margin:0 auto;
  padding:3pt;
  gap:9px;
}
nav a{
  display:flex; gap:3pt;
  width:81%; max-width:300pt;
  margin:0 auto;
  padding:5px;
  border-radius:99pt;
  background:#ccca;
}nav a:hover{background:var(--thisoe-faint)}
nav i{
  justify-content:center;
  width:calc(100% - 72px); height:100%;
}
nav i>*{
  font-size:16pt;line-height:18pt;
  margin:0;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}nav i>p{font-size:12pt;color:gray}


/*******   CHAT   *******/
#chat{
  height:calc(100vh - 81px);
  height:calc(100dvh - 81px);
}

/* main */
main{
  flex:1;
  margin:0;
  height:calc(100vh - 81px); height:calc(100dvh - 81px);
}
/* header config: for phone */
#menu,#s-phone{pointer-events:none}
.menu,#s-phone>.ava{visibility:hidden}

#main-chat{
  flex:1;
  flex-direction:column-reverse;
  gap:9pt;
  width:100%;
  height:calc(100vh - 81px - 30pt);
  margin:0 auto;
  padding:9pt 0;
  overflow-y:scroll;
}
.amsg{
  padding:0 30pt 0 9pt;
}
.amsg .p{
  margin:0 0 0 3pt;
  padding:7px 16pt 7px 9pt;
  border-radius:0 18pt 18pt 18pt;
  background:var(--thisoe-faint-solid);
  font-size:18px;
  white-space:pre-line;
}
.amsg.me{
  justify-content:flex-end;
  padding:0 9pt 0 30pt;
}
.amsg.me .p{
  margin-right:3pt;
  border-radius:18pt 18pt 0 18pt;
}
.amsg span{
  user-select:none;
  align-self:flex-end;
  font-size:12px; color:#393939;
  white-space:nowrap;
  transform:translateX(7px) translateY(1pt);
}.amsg.me span{transform:translateX(9pt)}

#prompt{
  display:flex;
  align-items:center;
  width:100%;
  height:30pt;
  margin:0 auto;
  outline:var(--thisoe) solid 1px;
  background:var(--thisoe);
  overflow:hidden;
  transform:translateY(1pt);
}
#prompt input{
  all:unset;
  height:calc(100% - 6px); width:calc(100% - 72pt);
  padding:3px 9px;
  background:var(--thisoe-faint-solid);
  font-size:18px;
  font-family:serif;
}
#prompt button{
  flex:1;
  font-size:18px; line-height:30pt;
  font-weight:bold; color:#fff;
  text-align:center; font-family:sans-serif;
  transition:.1s;
}
#prompt *:disabled{filter:grayscale(99%)}

/* aside */
aside{
  width:21vw;
  min-width:129pt;
  padding:18pt 9pt;
  overflow:auto;
}aside>*{margin:0 auto;}
aside *{font-size:12pt}
#s-txt{
  margin:0 auto 7pt;
  padding:3pt 9pt;
  font-weight:bold; font-family:sans-serif; color:var(--thisoe);
}#s-txt:hover{text-decoration:underline}


/*******   SETTINGS   *******/
#setting{
  gap:18pt;
  padding:18pt;
}

/* header config */
button:has(.back){display:flex}

#profile{
  gap:9pt;
  margin:auto;
  padding:12pt;
  background:var(--thisoe-faint);
  border-radius:999pt;
}
#proform{
  justify-content:space-around;
  padding-right:9pt;
}
#proform *{font-family:serif;white-space:nowrap}
#proform button{
  margin:0 auto;
  padding:7px 9pt;
  font-family:sans-serif;
  color:white;
  background:var(--thisoe);
  border-radius:99pt;
}
#proform p{padding-bottom:1pt}
#proform span{font-weight:bold}
#proform input{
  all:unset;
  flex:1;
  padding-bottom:1pt;
  font-weight:bold;
  border-bottom:black solid 1px;
  cursor:text;
}
#proform .btn-wrap{
  width:90%;margin:0;
  justify-content:center;
  gap:9pt;
}
#proform .btn-wrap>button{margin:0}
#proform button.revoke{background:#3339}

#signout{margin:auto}
#signout button{
  display:flex; align-items:center; gap:3pt;
  padding:7pt 18pt;
  font-size:16pt; line-height:1;
  border:var(--thisoe) solid 3pt;
  border-radius:99pt;
}#signout button:hover{background:pink;border-color:brown}
#signout .svg{width:18pt;height:18pt}





/*******   MEDIA CONFIG   *******/
/* phone */
@media only screen and (max-width: 597px) {
  ::-webkit-scrollbar{width:7px}

  h1{margin:30vh auto 3vh;font-size:36pt}
  aside{display:none}
  #menu,#s-phone{pointer-events:all}
  .menu,#s-phone>.ava{visibility:visible}
  header{width:calc(100% - 14px);padding:7px}
  h2{font-size:16pt;overflow:hidden}

  #setting{padding:9pt 0 0;overflow:hidden}
  #profile{
    flex-direction:column;
    align-items:center;
    border-radius:27pt;
  }
  #proform{gap:7pt}
  #proform .btn-wrap{width:auto;padding:3pt}
  #proform input{width:99px}
}

/* dark */
@media (prefers-color-scheme: dark) {
  :root {
    --darkthisoe:aquamarine;
    --background:#0a0a0a;
    --foreground:#ededed;
  }
}